*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body
{
    background: linear-gradient(90deg, #1e41ad 0%, #0e3959 30%, #0c445f 30%, #0c445f 100%)
}

.contact-me
{
    position: relative;
    width: 100%;
    padding: 40px 100px;
}

.contact-me .title
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.contact-me .title h2
{
    color: #FFF;
    font-weight: 500;
}

.form
{
    grid-area: form;
}

.info
{
    grid-area: info;
}

.map
{
    grid-area: map;
}

.contact
{
    padding: 40px;
    background-color: azure;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}

.contact h3 
{
    color: #0e3959;
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;
}

.information
{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas:
    "form info"
    "form map";
    grid-gap: 20px;
    margin-top: 20px;
}

.formBox
{
    position: relative;
    width: 100%;
}

.formBox .row50
{
    display: flex;
    gap: 20px;
}

.inputBox
{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.formBox .row100 .inputBox
{
    width: 100%;

}

.inputBox span 
{
    color: #18B7FF;
    margin-top: 10px;
    
}

.inputBox input 
{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
}

.inputBox textarea 
{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
    resize: none;
    min-height: 220px;
}

.inputBox input[type="submit"]
{
    background: #FF578B;
    color: #FFF;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
}

.inputBox::placeholder
{
    color: #999;
}

.info
{
    background-color: #0c445f;
}

.info h3
{
    color: azure;
}

.info div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.info .infoBox div span
{
    min-width: 40px;
    height: 40px;
    color: azure;
    background: #18b7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}

.map
{
    padding: 0;
}

.map iframe
{
    width: 100%;
    height: 100%;
}