html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(0, 149, 255);
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    width: 1024px;
    height: 690px;
}

body {
    padding-bottom: 10px;
}

li, a, button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.navigation-bar {
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav-bar {
    list-style: none;
}

.navbar li {
    display: inline-block;
    padding: 10px 20px;
}

.navbar li a {
    transition: all 0.3s ease 0s;
}

.navbar li a:hover {
    color: #0088A9;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}